*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    max-width: 1200px;
    margin: auto;
    background-color: red;
} */

.graphics-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}
.graphics-items{
    /* flex-basis: 23%; */
    
}
.graphics-items-thumbnail{
    background-color: #ffffff85;
    padding: 5px;
}
.graphics-items img{
    width:100%;
    height:300px;

}
.graphics-item-title h3{
    text-align: center;
}